.about {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    line-height: 1.8;
    /* max-width: 770px; */
}

.about-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.about-header {
    max-width: 620px;
    margin-bottom: 10px;
    text-align: center;
}

.about-header h2 {
    margin-bottom: 10px;
}

.about-content {
    border-top: 2px solid var(--text-color);
    padding-top: 20px;
    max-width: 770px;
}

.about-content ul {
    margin: 10px 0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-content a {
    color: inherit;
}

@media (max-width: 550px) {
    .about {
        padding: 0;
    }

    .about-header,
    .about-content {
        margin: 20px;
    }
}