.menu {
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #272727;
    padding: 0 40px;
    border-radius: 12px;
    font-size: 14px;
    position: sticky;
    top: 20px;
    height: var(--menu-height);
    z-index: 1000;
}

.menu-btn {
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    height: max-content;
}

.menu-btn:hover {
    border-bottom: 1px solid var(--text-color);
}

@media (max-width: 550px) {
    .menu {
        height: max-content;
        width: 100%;
        gap: 0;
        border-radius: 0;
        padding: 0;
        top: 0;
        padding: 15px 0;
        justify-content: space-evenly;
    }

    .menu-btn {
        padding: 0;
        width: max-content;
    }
}