.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--profile-height);
    margin-top: var(--vertical-space);
}

.profile-img {
    margin-bottom: 40px;
    border-radius: 50%;
}

.name {
    font-size: 2.5rem;
    margin-bottom: 10px;
}