#root {
  --text-color: #ddd;
  --background-color: #171717;
  color: var(--text-color);
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  background-color: var(--background-color);

  /* Calculating margin-top of Profile and margin-bottom of Counter */
  --profile-height: 263px;
  --menu-height: 70px;
  --counter-height: 20px;
  --total-fixed: calc(var(--profile-height) + var(--menu-height) + var(--counter-height) + 160px);
  --vertical-space: calc((100vh - var(--total-fixed)) / 2);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 80px;
  min-height: 100vh;
}

.resume-modal,
.about-modal {
  padding: 0;
  border: none;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  opacity: 0;
  transition: transform 500ms ease, opacity 500ms ease;
  background-color: #222;
}

::backdrop {
  background-color: black;
  opacity: 0.6;
}

.open {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.dialog-btn {
  position: absolute;
  top: 15px;
  right: 30px;
  border-radius: 50%;
  background-color: #161616;
  border: 2px solid var(--text-color);
  cursor: pointer;
  padding: 0;
}

.resume-modal > *:first-child {
  flex: 1;
  overflow: auto;
  max-height: 90vh;
}

@keyframes drop-in {
  0% {
    transform: translate(-50%, -60%);
    opacity: 0.3;
  }

  100% {
    transform: translateY(-50%, -50%);
    opacity: 1;
  }
}

section {
  scroll-margin-top: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #171717;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}